.ck-content.ck-content {
  --ck-color-widget-editable-focus-background: rgb(255 255 255 / 20%);
  --ck-color-table-focused-cell-background: rgb(255 255 255 / 20%);

  & .table table th {
    background-color: transparent;
  }
}

:is(.content-clip .clippath-content .clippath-map .carbon-geomap__reload-button) {
  margin-top: var(--clippath-content-height-top, 0);
  margin-bottom: var(--clippath-content-height-bottom, 0);
}
