.ck-content.ck-content {
  --ck-color-widget-editable-focus-background: rgb(255 255 255 / 20%);
  --ck-color-table-focused-cell-background: rgb(255 255 255 / 20%);

  & .table table th {
    background-color: transparent;
  }
}
