.pswp--fetch,
.pswp--template {
  --photoswipe-content-background: oklch(var(--color-back-l) var(--color-back-c) var(--color-back-h));
  --photoswipe-content-max-width: var(--content-max-width-wide);
  --photoswipe-content-width: calc(100% - 20px);
  --photoswipe-content-max-height: calc(100% - 20px);
}

.jonnitto-photoswipe-content {
  @apply rounded-box shadow-lg;
}
