@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("Global/**/*.pcss");
@import url("../Fusion/**/*.pcss");
@import url("Packages/Carbon/Carbon.Image/Resources/Private/Assets/Main.pcss");
@import url("DistributionPackages/Litespeed.Distribution/Resources/Private/Fusion/Main.pcss");
@import url("tailwindcss/utilities");
