[data-__neos-node-contextpath] {
  & .ribbon {
    color: #ccc;
  }

  &[class*="markHoveredNodeAsHovered"] .ribbon {
    opacity: 1;
  }

  &[class*="markActiveNodeAsFocused"] .ribbon {
    opacity: 1;
    color: #00adee;
  }
}
