[data-__neos-node-contextpath]:not(.-collection) {
  & .ribbon {
    color: #ccc;
  }

  &[class*="markActiveNodeAsFocused"] > .ribbon,
  &.ribbon[class*="markActiveNodeAsFocused"] {
    color: #00adee;
  }
}
